@model WeddingCD.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 40vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter une photo/vidéo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="FormUploadPicture" enctype="multipart/form-data" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(z => z.CategorieListItem, new { @class = "col-form-label" })
                        @Html.DropDownListFor(m => m.SelectedCategory, Model.CategorieListItem, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(z => z.PictureToUpload, new { @class = "col-form-label" })
                        @Html.TextBoxFor(model => model.PictureToUpload, new { type = "file", @multiple = "multiple", accept = ".png,.jpg,.jpeg,.gif", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PictureToUpload)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" onclick="UploadPictureButton();" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- START SECTION: gallery -->
<section id="gallery" class="bg-gray-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <div class="title-block">
                    <h1>@WeddingCD.Resources.View.CommonResources.Galerie <span><em>@WeddingCD.Resources.View.CommonResources.Photo </em></span></h1>

                    <div class="divider"></div>

                    <div class="row">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Ajouter une photo
                        </button>
                    </div>

                    <div class="divider"></div>


                    <div class="gallery_nav">
                        <button class="btn btn-primary btn-bordered filter-button active" data-filter="all">@WeddingCD.Resources.View.CommonResources.Tous</button>

                        @foreach (var category in Model.Categories)
                        {
                            <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-@Html.Raw(category.Name)">@Html.Raw(category.Name)</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row gallery-popup">
            @foreach (var picture in Model.Pictures)
            {
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-@Html.Raw(picture.Category.Name)">
                    <a href="/Content/Galerie/@Html.Raw(picture.Path)" class="mfp-image" title="Gallery image title">
                        <img src="/Content/Galerie/@Html.Raw(picture.Path)" class="img-responsive" alt="Gallery image" style="height:250px;">
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!-- END SECTION: gallery -->

<script>
    jQuery(document).ready(function () {
    });

    function UploadPictureButton() {
        $("#FormUploadPicture").submit();
    }

    jQuery('#FormUploadPicture').submit(function (e) {
        e.preventDefault();

        var category = $("#SelectedCategory").val();

        var formData = new FormData();
        formData.append('Categorie', category);

        var ins = document.getElementById('PictureToUpload').files.length;
        for (var x = 0; x < ins; x++) {
            formData.append("files", document.getElementById('PictureToUpload').files[x]);
        }

        jQuery.ajax({
            url: '@Url.Action("UploadPictureAsync", "Home")',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function () {
                location.reload();
            },
            error: function (xhr, request, error) {
                console.log(arguments);
                alert(xhr.responseText);
            },
        });
    });
</script>